.d3_pie_chart_usage {
  .arc {
    #Graphs that show the quota usage
    stroke: $gwdg-light-green1;
    stroke-width: 0px;
    stroke-opacity: 0.2;
    #Color of the filling (empty) of the pie
    fill: $gwdg-light-green1;
  }
}

.d3_pie_chart_distribution {
  .legend-group {
    padding: 1px $padding-small-vertical;
  }
}
