
/* GWDG web colors */
$gwdg-dark-gray1:                                         #455761;
//For main body fonts
$gwdg-dark-gray2:                                         #333333;
//For left main manu
$gwdg-dark-gray3:                                         #2E3233;
//For header menu fonts, background of main menu items
$gwdg-light-gray1:                                        #F1F4F5;
//For main body background
$gwdg-light-gray2:                                        #F5F7F9;
//For lower footer icons and text, upper footer background
$gwdg-light-gray3:                                        #C8D2D7;
$gwdg-light-gray4:                                        #E5E5E5;
//For background of main menu
$gwdg-light-gray5:                                        #E2E8EB;
//For some backgrounds, font in links, hover fonts
$gwdg-light-blue1:                                        #00AEEF;
//For hover of some backgrounds
$gwdg-light-blue2:                                        #2FA4F5;
//For some buttons
$gwdg-light-green1:                                       #009C96;
//For some buttons hover
$gwdg-light-green2:                                       #2F929C;

// Font definitions:
$font-navbar : 18px;
$font-ubuntu: Ubuntu, Arial, "libra sans", sans-serif;
$font-gwdg: 'Lato', 'Lucida Grande', Helvetica, Arial, sans-serif !default 
