@import "gwdg_variables";
@import "bootstrap/variables";
@import "horizon/variables";
@import "/horizon/lib/font-awesome/scss/variables";


/* Custom Variables */
$font-size-base: 16px;

$brand-color: $gwdg-dark-gray1;
$topbar-link-hover: $gwdg-light-blue1;
$white: #fff;

$brand-primary: $brand-color;

$nav-active-color: #b83a10;
$nav-hover-color: #e1662f;

$table-bg: #efefef;
//$table-border-color:

